<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>BMW Maintenence Tool - Index</title>

        <!-- CSS Resources -->
        <%- include('Template/Header.ejs') -%>
    </head>

    <body>
        <div class="container mt-4">

            <!-- Navigation -->
            <%- include('Template/Navigation.ejs') -%>

            <h1>BMW Maintenence Tool</h1>
            <hr />
    
            <p>Welcome!</p>
        </div> <!-- container -->
    </body>

    <%- include('Template/Footer.ejs') -%>
</html>